*{
    margin: 0;
    padding: 0;
}
html{
    min-width: 502px;
}

body{
    background: -webkit-linear-gradient(90deg,#a6b2b2,#cbd7d5); 
    background: linear-gradient(90deg,#a6b2b2,#cbd7d5);  
}

h1,h2,h3,h4,h5,h6,a,p,ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    border-top: 45px solid rgb(98, 202, 233);
}

header .header-link{
    width: 75px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(94, 90, 90);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.5s
}

header .header-link:hover{
    background: rgba(13, 21, 18, 0.275);
    color: black;
    border-radius: 8px;
}

header .header-icon{
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor:crosshair;
}
         /* header end */
/***************************************************************************/


       /* section start */
 /***************************************************************************/

img{
 width: 100%;
}

.col-lg-4 .block img{
   width:100%;
   background: rgba(140, 12, 12, 0.227);
 }
 
 section{
     margin-top: 50px;
 }
 section .row .col-lg-9 h1,h2{
     margin-bottom: 25px;
     margin-top: 30px;
     font-size: 30px;
     text-transform: uppercase;
 }
 
.col-lg-9 .row .col-lg-4 .block{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.303);
    padding: 10px;
    margin-bottom: 25px;  
}

.col-lg-9 .row .col-lg-4 .block .text {
 display: flex;  
 justify-content: space-between; 
}

.col-lg-9 .row .col-lg-4 .block .text i{
    font-size: 25px;
    background: rgb(62, 114, 10);
    color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 8px;  
}

.col-lg-9 .row .col-lg-4 .block .text .text2 p{
    font-size: 14px;
}
.col-lg-9 .row .col-lg-4 .block .text .text2 h3{
   color: chartreuse;
   font-size: 17px; 
}
.row .col-lg-3 .big-photo{
    border-top: 5px solid rgb(98, 202, 233);  
}

form{
    border-top: 5px solid rgb(98, 202, 233);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.289);
    width: 240px;
    height: 310px;
    margin-top: 30px;
    text-align: center;
}

form h5{
    font-size: 23px;
    padding: 11px;
    text-transform: uppercase;
}

form input{
    width: 185px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.207);
    color: goldenrod;
}

form button{
    width: 111px;
    height: 40px;
    margin-top: 15px;
    color: #fff;
    background: chartreuse;
    border: 1px solid rgba(0, 0, 0, 0.207);
    transition: 0.5s
}

form button:hover{
    background: rgb(117, 226, 188);
    color: rgb(0, 0, 0);
}
       /* section end */
 /***************************************************************************/

        /* footer-top start */
 /***************************************************************************/
 

footer .footer-top{
    width: 100%;
    background: #4cb1ca;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer-top .row .col-lg-6{
    display: flex;
}
footer .footer-top .row .col-lg-6 i{
  color: #39a0b9;
  background: #fff;
  display: flex;
  border-radius: 50%; 
  font-size: 15px; 
  padding: 8px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  transition: 0.5s;
  cursor:pointer;
}

footer .footer-top .row .col-lg-6 p{
    text-transform: uppercase;
    padding-top: 8px;
    color: #fff;
}
       /* footer-top end */
 /***************************************************************************/

 
        /* footer-main start */
 /***************************************************************************/

footer .footer-main{
    width: 100%;;
    background: #39a0b9;
    padding-top: 45px;
    padding-bottom: 55px;
    color: #fff;
}



.footer-main .row .col-lg-3 .grid{
    display: grid;
    grid-template-columns: repeat(4,49px);
    grid-template-rows: repeat(2,49px);
}

.footer-main .row .col-lg-3 .grid .div img{
    padding: 5px;
}

.footer-main .row .col-lg-3 button{
    border-radius: 8px;
    border: none;
    color: #03077b;
    font-size: 14px;
    padding: 4px;
    margin-bottom: 10px;
    width: 50px;
    transition: 0.5s;
}

.footer-main .row .col-lg-3 button:hover{
    background: #03077b;
    color: #fff;
}

.footer-main .row .col-lg-3 .icon-p{
   display: flex;
   align-items: center;
   margin-top:15px; 
}

.footer-main .row .col-lg-3 .icon-p p{
    font-size: 13px;
}

.footer-main .row .col-lg-3 .icon-p i{
  color: #39a0b9;
  background: #fff;
  border-radius: 50%; 
  font-size: 23px; 
  padding: 6px;
  justify-content: center;
  align-items: center;  
  margin-right: 10px;
  transition: 0.5s;
}
.footer-main .row .col-lg-3 .icon-p i:hover{
    background: #03077b;
    color: #fff;    
}


.footer-main .row .col-lg-3 ul{
    margin-top:15px;
}

.footer-main .row .col-lg-3 .ul-2 li::before{
    content: ">"; 
    padding-right: 5px;   
}

.footer-main .row .col-lg-3 ul li a{
    color: #fff;
    transition: 0.5s;
}

.footer-main .row .col-lg-3 .icon-ul{
    display: flex;
}

footer .footer-main .row .col-lg-3 .icon-ul i{
    background: #fff;
    color: #39a0b9;
    border-radius: 50%; 
    font-size: 25px; 
    padding: 6px;
    justify-content: center;
    align-items: center; 
    margin-right: 10px;
    transition: 0.5s;
}
footer .footer-main .row .col-lg-3 .icon-ul i:hover{
    background: #03077b;
    color: #fff;   
}


.footer-main .col-lg-3 ul li a:hover{
    color: black;
}


     /* footer-main end */
 /***************************************************************************/
 
        /* footer-end start */
 /***************************************************************************/
 .footer-end{
     width: 100%;
     padding-top: 25px;
     padding-bottom: 25px;
     background: #0b4b5a;
 }
 
 .footer-end .container{
     display: flex;
     justify-content: space-between;
 }
 
 .footer-end .container a{
    color: #39a0b9;
 }
 
 
 .footer-end .container ul{
     display: flex;
 }
 
 .footer-end .container ul li a{
     color: #39a0b9;
     padding-left: 10px;
     padding-right: 10px;
     border-right:  1px solid rgb(137, 209, 242) ;
     
 }
 
 
 
 footer .footer-top .row .col-lg-6 i:hover{
   background: #03077b;
   color: #fff;  
 }
 
 .footer-end .container a:hover{
     color: black;
 }
         /* footer-end end */
 /***************************************************************************/
 










